---
let date, name;

interface WRSEndpoint {
	date: string
	name: string;
}

try {
	const response = await fetch("https://api.akinom.dev/wrs");
	const data = await response.json() as WRSEndpoint;
	date = data.date;
	name = data.name;
} catch (e) {
	date = "?"
	name = "?";
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Czy WRS jest otwarty?</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div>
			<h1>TAK</h1>
			<p>Klucz odebrany o {date} przez {name}.</p>
		</div>
	</body>
</html>

<style>
	body {
		font-family: "Lexend Deca", sans-serif;
		margin: 0;
		font-optical-sizing: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	h1 {
		font-size: 30vw;
		margin: 0;
	}

	p {
		margin: 0;
	}

	body {
		background-color: #eee;
		color: #222;
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: #222;
			color: #eee;
		}

</style>
